
    
    .pakge-container {
      max-width: 1200px;
      margin: 20px auto;
      position: relative;
      align-items: center;
      background-color: #f1f1f1;
      padding: 30px 0;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
      overflow: hidden; /* hide scrollbar */
      user-select: none; /* prevent text selection on drag */
    }

    .pakge-title {
      text-align: center;
      color: #0056ff;
      font-size: 28px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    .pakge {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      scroll-behavior: smooth;
      padding: 0 10px;
      cursor: grab;
    }

    .pakge::-webkit-scrollbar {
      display: none; /* hide scrollbar */
    }

    .pakge-card {
      flex: 0 0 300px;
      background: white;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      text-align: center;
      user-select: none;
    }

    .pakge-card h3 {
      background-color: #001f4d;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .pakge-card .price {
      font-size: 20px;
      color: #0056ff;
      font-weight: bold;
    }

    .pakge-btn {
      position: absolute;
      top: 20%;
      transform: translateY(-50%);
      font-size: 30px;
      background-color: rgba(0,0,0,0.4);
      color: white;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 10;
      user-select: none;
    }

    .pakge-btn.left {
      left: 10px;
    }

    .pakge-btn.right {
      right: 10px;
    }

    .pakge-btn:hover {
      background-color: rgba(0,0,0,0.6);
    }

  