
/* card body ok start */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.card-container {
  flex: 1; /* footer কে নিচে ঠেলে দিবে */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
/* card body ok end */

.my-card {
      background-color: white;
      width: 150px;
      padding: 20px;
      margin: 15px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 1.0);
      text-align: center;
      transition: 0.3s;
      float: left;
      justify-content: flex;
  }


    .my-card:hover {
      transform: scale(1.15);
    }
    
    .my-card img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    .my-name {
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
    }
    .my-title {
      color: red;
      font-size: 14px;
    }
    .my-location, .phone {
      font-size: 14px;
    }

    
    .popup {
      position: fixed;
      top: 35px;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }


    .popup-content {
      background: white;
      padding: 15px;
      border-radius: 10px;
      width: 300px;
      position: relative;
      max-height: 80%;
      overflow-y: auto;
      text-align: left;
   }

    .popup-content img {
      width: 150px;
      height: 160px;
      display: block;
      margin: 0 auto 10px auto;
    }
    .popup-content .close {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
    }